* {
  color: #FFFFFF;

  margin: 0;

  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #2F2E41;

  width: 1280px;
  height: 100vh;
  margin: auto;
  padding: 71px 0 23px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
  width: 1092px;
}

nav a{
  padding: 0;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 64px ;
  
  list-style-type:none;
}

nav ul li a{
  font-family: 'JetBrains Mono';
  font-style: normal;
}

nav ul li a:hover{
  color: #8a8989;
}

main{
  display: flex;
  justify-content: space-between;
  
  width: 1092px;
  height: 283px;
}

main h1{
  font-family: 'JetBrains Mono';

  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  
  padding-bottom: 59px;
}

span, strong{
  color: #00BFA6
}

article{
  width: 604px;
  height: 168px;
}

article p{
  font-family: 'Open Sans', sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #7D7987;

  padding-bottom: 28px;
}

.destaque {
  font-weight: 700;

  color: #C2C2C2;
}

footer {
  margin-top: 157px;
  width: 568px;
  height: 55px;
  
  border-top: 1px solid #00BFA6;
}

footer p, a{
  font-family: 'JetBrains Mono';

  font-weight: 500;
  font-size: 14px;
  padding-top: 27px;
  
  text-align: center;
}

footer p a:hover {
  color: #c6c6c6;
}

#padlock {
  position: fixed;
  bottom:0;
  left: 0;
  
  padding: 20px;
}